* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: inherit;
    background: #fff;
    color: #000;
}
h1 {
    background-color: rgb(142, 112, 199);
}